#App {
  /* display: grid;
  grid-template-rows: 50% 50%; */
  overflow: hidden;
}

/* #first {
  display: grid;
  grid-template-rows: auto auto;
} */

#activity_rings_container {
  overflow: scroll;
  display: grid;
  grid-template-columns: 300px 250px 200px 200px 200px 200px 200px;
  padding: 40px;
  justify-content: space-between;
  column-gap: 40px;
}

#inputs {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  gap: 20px;
  height: 26px;
}

input {
  width: 200px;
}

#second {
  display: grid;
  grid-template-columns: 66% 34%;
}